# menu_override.cfg
#
[menu __main __octoprint]
type: disabled # Removes Octoprint from physical printer menu. Not needed.

[menu __main __sdcard]
type: disabled # Remove the SD Card menu 'coz I don't use it.

[menu __main __filament]
type: list
name: Filament
index: 1

[menu __main __filament __unloadf]
type: command
name: Unload Filament
gcode:
  {menu.exit()}
  UNLOAD_FILAMENT

[menu __main __filament __unloads]
type: disabled # Remove slow unload filament

[menu __main __filament __loadf]
type: command
name: Load Filament
gcode:
  {menu.exit()}
  LOAD_FILAMENT

[menu __main __filament __loads]
type: disabled

# Preheat menu overrides
[menu __main __temp __preheat_pla]
type: command
name: Preheat PLA
gcode:
  {menu.exit()}
  PREHEAT_PLA

[menu __main __temp __preheat_petg]
type: command
name: Preheat PETG
gcode:
  {menu.exit()}
  PREHEAT_PETG

[menu __main __temp __preheat_tpu]
type: command
name: Preheat TPU
gcode:
  {menu.exit()}
  PREHEAT_TPU

[menu __main __temp __cooldownX]
type: list
name: Cooldown

[menu __main __temp __cooldownX __all]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Cooldown all
gcode:
  {menu.exit()}
  M104 S0
  M140 S0

[menu __main __temp __cooldownX __hotend]
type: command
enable: {'extruder' in printer}
name: Cooldown hotend
gcode:
  {menu.exit()}
  M104 S0

[menu __main __temp __cooldownX __hotbed]
type: command
enable: {'heater_bed' in printer}
name: Cooldown hotbed
gcode:
  {menu.exit()}
  M140 S0

# Disable all the unwanted menus
[menu __main __temp __preheat_pla __all]
type: disabled
[menu __main __temp __preheat_pla __hotend]
type: disabled
[menu __main __temp __preheat_pla __hotbed]
type: disabled
[menu __main __temp __preheat_abs]
type: disabled
[menu __main __temp __preheat_abs __all]
type: disabled
[menu __main __temp __preheat_abs __hotend]
type: disabled
[menu __main __temp __preheat_abs __hotbed]
type: disabled
[menu __main __temp __cooldown]
type: disabled
[menu __main __temp __cooldown __all]
type: disabled
[menu __main __temp __cooldown __hotend]
type: disabled
[menu __main __temp __cooldown __hotbed]
type: disabled
