#####           CharminULTRA Prusa MK3S+ Klipper Config Template

### UI and Built-in Macros (see macros.cfg for added macros)
#[include mainsail.cfg]

### PRINTER - Machine Limits are set inside of Klipper rather than from PrusaSlicer
[printer]
kinematics: cartesian

## MK3.5 Settings based on MK3.5 IS PrusaSlicer factory profile machine limits
max_velocity: 300
max_accel: 4000
minimum_cruise_ratio:0.5
max_z_velocity: 12
max_z_accel: 750

## MK3S+ Settings based on MK3S+ PrusaSlicer factory profile machine limits, if you want to maintain stock speed limits for some reason.
#max_velocity: 200
#max_accel: 1000
#max_accel_to_decel: 500
#max_z_velocity: 12
#max_z_accel: 200

## Z-OFFSET 
## Note: Different Z-Offsets for different bed sheets is not yet implemented, but editing this file is a fairly simple method. You can only enable ONE at a time.
[probe]
z_offset = 0.780 #Textured bed sheet
#z_offset = 0.000 #Smooth bed sheet, add/delete/edit as needed

[mcu]
serial: /dev/serial/by-id/usb-Prusa_Research__prusa3d.com__Original_Prusa_i3_MK3_CZPX5018X004XK00490-if00
restart_method: command

### CONTROL BOARD
[include einsy-rambo.cfg]

### BASE SETUP
[include display.cfg]
[include steppers.cfg]
[include tmc2130.cfg]

### HOTEND, BED and EXTRUDER - 

[extruder]
##TUNE ME
##Extruder Rotation Distance - Prior to calibration, make sure your Idler Screw Tension is correct: https://help.prusa3d.com/article/idler-screw-tension_177367
rotation_distance: 22.95981632 #Make sure you tune this for your individual machine: https://ellis3dp.com/Print-Tuning-Guide/articles/extruder_calibration.html
control = pid
pid_kp = 23.281
pid_ki = 0.995
pid_kd = 136.195

##TUNE ME
##Pressure Advance Section - Perform this tuning for your individual machine: https://ellis3dp.com/Print-Tuning-Guide/articles/index_pressure_advance.html
##ENTER THE PA VALUE VALUE IN SLICER FILAMENT SETTINGS - In Filament Settings Custom G Code section (allows you to print with different PA for each filament, more flexibile than here).
##You may also enter a set a global value here if you want, but it's not recommended.
pressure_advance: 0.01

nozzle_diameter: 0.4 # Remember to change this if you change nozzle diameter.
min_extrude_temp: 170
min_temp: 0
max_temp: 285
full_steps_per_rotation: 200
filament_diameter: 1.750
max_extrude_only_distance: 200
max_extrude_cross_section: 50.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1250.0 #Limited to the retraction accel on the MK3.5

[heater_bed]
control = pid
pid_kp = 54.313
pid_ki = 0.885
pid_kd = 833.024

### MACROS
[include macros.cfg]

### INPUT SHAPING

# Uncomment ONE of the two lines below, depending on which accelerometer board you are using.
#[include adxlmcu-KUSBA.cfg] # ONLY FOR USE DURING INPUT SHAPING TESTING - Leaving this on without the accelerometer plugged in will cause Klipper to not work.
#[include adxlmcu-BTT.cfg] # ONLY FOR USE DURING INPUT SHAPING TESTING - Leaving this on without the accelerometer plugged in will cause Klipper to not work.

[input_shaper]

### OTHER FEATURES OR TUNING
[exclude_object]

### SKEW CORRECTION - This is the LAST tuning procedure. Follow instructions.
##TUNE ME
[skew_correction]

### THIRD PARTY FEATURES

### MISC
[include menu_overrides.cfg]

[safe_z_home]
home_xy_position: 11,6
speed: 50.0
z_hop: 15
z_hop_speed: 15.0
move_to_previous: False

###
### STOP
###
### Do not edit anything below this line. The printer will store values here automatically when you
###  perform the SAVE_CONFIG command. They may look like they are commented out but any line that
###  starts with #*# will be read in by Klipper and applied.
###
### When you are done with the guide you should see sections below for extruder, heater_bed, probe, and input_shaper.
###

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
